<div class="shell-directive full-height">
  <top-bar
    user-full-name="vm.userFullName" user-dg-unit="vm.userDgUnit"
    language="vm.language" site="vm.site"
    roles-items="vm.rolesItems" user-role="vm.userRole"
    general-menu-items="vm.generalMenuItems" settings-menu-items="vm.settingsMenuItems"
    on-change-role="vm.changeRole(role)" on-change-menu="vm.changeMenu(route)"
    on-change-language="vm.changeLanguage(language)">
  </top-bar>

  <div class="full-height" ng-if="vm.translationsLoaded">
    <div class="full-height" ui-view></div>
  </div>

  <ui-locker></ui-locker>
</div>

