.users {
  background: #f8f8f8;
}

.users .bar {
  height: 50px;
  border-bottom: solid 1px #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: #fff;
}

.users .bar .title {
  color: #888;
  font-size: 20px;
  font-weight: 300;
}

.users .bar .badge {
  margin-bottom: 5px;
}

.user .bar .form-inline {
  height: 34px;
}

.users .list {
  overflow: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.users .list .list-group {
  width: 500px;
}

.users .list .list-group-item {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.users .list .list-group-item .full-name {
  color: #555;
}

.users .list .list-group-item .dg-unit {
  font-size: 12px;
  color: #aaa;
  font-weight: 300;
}

.users .list .list-group-item .roles {
  font-size: 12px;
  color: #60A0C9;
  font-weight: 300;
}

.users .list .list-group-item .group-right {
  display: flex;
}


.users .list .list-group-item .user-login {
  color: $oib-brand-color;
  font-weight: 300;
}

.users .list .list-group-item .fa-chevron-right {
  display: flex;
  align-self: center;
  color: #ddd;
  margin-left: 30px;
}

.users .list .list-group-item:hover {
  background: #f7f7f7;
}