<div class="users full-height">
  <div class="bar">
    <div>
      <span class="title" translate="codes.menus.users">Users</span>
      <span class="badge">{{ vm.usersFiltered.length }}</span>
    </div>

    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="vm.filterPattern">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
        </div>
      </div>
    </form>
  </div>

  <div class="list full-height">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="user in vm.usersFiltered = (vm.users | usersFilter:vm.filterPattern)"
        angular-ripple>
        <div>
          <span class="full-name">{{ user.fullName }}</span>
          <span class="dg-unit">- {{ user.dgUnit }}</span>
          <div class="roles">{{ user.rolesList }}</div>
        </div>

        <div class="group-right">
          <span class="user-login">{{ user.login }}</span>
          <i class="fa fa-chevron-right"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
