.languages-bar-directive {
  color: #0466A4;
  padding-top: 3px;
  display: flex;
  margin-right: 10px;
}

.languages-bar-directive .language {
  padding: 3px 2px 2px 2px;
  cursor: pointer;
  outline: none;
}

.languages-bar-directive .language:hover {
  opacity: .5;
}

.languages-bar-directive .or {
  color: #aaa;
  margin: 2px 5px;
}

.languages-bar-directive .current-language {
  color: #fff;
  background: $oib-brand-color;
  border-radius: 2px;
}