<div class="languages-bar-directive">
  <div class="language" ng-class="{ 'current-language': vm.currentLanguage === vm.languageEn }"
    ng-click="vm.setLanguage(vm.languageEn)">
    EN
  </div>

  <div class="or">|</div>

  <div class="language" ng-class="{ 'current-language': vm.currentLanguage === vm.languageFr }"
    ng-click="vm.setLanguage(vm.languageFr)">
    FR
  </div>
</div>