<div class="settings-sites">
   <h1>Sites</h1>

  <button type="button" class="btn btn-warning" translate="codes.sites.bru" ng-click="vm.changeSite(vm.siteBrussels)">Brussels</button>
  <button type="button" class="btn btn-warning" translate="codes.sites.isp" ng-click="vm.changeSite(vm.siteIspra)">Ispra</button>
  <button type="button" class="btn btn-warning" translate="codes.sites.col" ng-click="vm.changeSite(vm.siteCollege)">College</button>
  <button type="button" class="btn btn-warning" translate="codes.sites.cie" ng-click="vm.changeSite(vm.siteCie)">CIE</button>
</div>