<div class="logout">
  <div class="message-1">You've been successfully logged out of Presto</div>

  <div class="message-2">To log in again, click on the button below</div>

  <a class="btn btn-default btn-primary" angular-ripple ng-click="vm.logout()">Log in with ECAS</a>
</div>