/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


/* Bootstrap: START */

/* Needed to prevent an ugly blue border when clicking */
.btn {
  outline: none !important;
}

/* Bootstrap: END */

$oib-brand-color: #fabb21;

@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara:300,500);

html, body {
  font-family: 'Hind Vadodara', sans-serif;
  width: 100%;
  height: 100%;
}

body .centered {
  /*max-width: 960px;*/
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
}

.full-height {
  height: 100%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/* Ripple: START */

[angular-ripple] {
    position: relative;
    overflow: hidden;
}

.angular-ripple {
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
  transform: scale(0);
}

.angular-ripple.animate {
  animation: ripple 0.5s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

/* Ripple: END */

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
