.login {
  width: 400px;
  margin: 0 auto;
  padding-top: 50px;
}

.login .title {
  font-size: 25px;
  font-weight: 100;
  color: #666;
  margin: 50px 0;
}

.logout {
  width: 600px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}

.logout .message-1 {
  font-size: 23px;
  font-weight: 100;
  color: #0466A4;
  margin-bottom: 10px;
}

.logout .message-2 {
  font-size: 18px;
  font-weight: 100;
  color: #777;
  margin-bottom: 70px;
}