<form class="login form-horizontal" no-validate>

  <div class="title" translate="login.untilEcas">Until we implement ECAS</div>

  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username" placeholder="Username" ng-model="vm.username">
    </div>
  </div>

  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.password">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a class="btn btn-default btn-primary" angular-ripple ng-click="vm.login()">Sign in</a>
    </div>
  </div>
</form>