<div class="logout">
  <div class="message-1" translate="logout.message-1">You've been successfully logged out of Presto</div>

  <div class="message-2" translate="logout.message-2">To log in again, click on the button below</div>

  <a class="btn btn-default btn-primary" angular-ripple  translate="logout.message-3"
    ng-click="vm.goToLogIn()">
    Log in with ECAS
  </a>
</div>