.logout {
  width: 400px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}

.logout .message-1 {
  font-size: 20px;
  font-weight: 100;
  color: #0466A4;
  margin-bottom: 50px;
}

.logout .message-2 {
  font-size: 15px;
  font-weight: 100;
  color: #777;
  margin-bottom: 20px;
}