<div class="languages-bar-directive">
  <div class="language" ng-class="{ 'selected': vm.language === vm.languageEn }"
    ng-click="vm.changeLanguage(vm.languageEn)">
    EN
  </div>

  <div class="or">|</div>

  <div class="language" ng-class="{ 'selected': vm.language === vm.languageFr }"
    ng-click="vm.changeLanguage(vm.languageFr)">
    FR
  </div>
</div>