.topBar {
  background: #FCFAFC;
  line-height: 1;
}

.topBar .top {
  float: right;
  display: flex;
  font-size: 11px;
  font-weight: 100;
}

.topBar .top .identification {
  display: flex;
}

.topBar .top .full-name {
  color: #0466A4;
  padding-top: 5px;
}

.topBar .top .dg-unit {
  color: #aaa;
  padding-top: 5px;
  line-height: 1.2em;
}

.topBar .top .roles {
  color: #0466A4;
  margin-right: 10px;
  text-decoration: none;
  margin: 0;
  font-size: 11px;
  line-height: 0;
  border: none;
  cursor: pointer;
}

.topBar .top .roles .fa {
  margin-left: 5px;
}

.topBar .top .separator {
  margin: 0 10px;
  color: #aaa;
  padding-top: 5px;
}

.topBar .top .separator-2 {
  margin-left: 10px;
  color: #aaa;
  padding-top: 5px;
}

.topBar .top .separator-3 {
  margin-right: 10px;
  color: #aaa;
  padding-top: 5px;
}


.topBar .banner {
  display: flex;
  height: 85px;
}

.topBar .site {
  color: #ccc;
}

.topBar .env {
  color: $oib-brand-color;
}

.topBar .bottom {
  display: flex;
  align-items: center;
  background: #0466A4;
  height: 45px;
  padding-right: 10px;
}

.topBar .bottom .menu {
  color: #fff;
  font-weight: 100;
  margin-top: 2px;
}

.topBar .bottom .menu:hover {
  color: #B8DCF2;
}

.topBar .bottom .flex {
  flex: 1;
}

.topBar .bottom .menu-button {
  color: #fff;
  margin: 0 0px;
  font-weight: 100;
  outline: none;
  border: 0;
}

.topBar .bottom button:focus {
  outline: none;
  border: 0;
 }

.topBar .oib-branding {
  background: $oib-brand-color;
  height: 7px;
}

.topBar .logo {
  width: 143px;
  height: 100px;
  margin-left: 30px;
  position: relative;
  bottom: -14px;
  z-index: 1;
}

.topBar .title {
  font-size: 20px;
  color: #0466A4;
  margin: 0 0 4px 25px;
  font-weight: 100;
  align-self: flex-end;
}