<div class="topBar">
  <div class="top">
    <div class="identification" ng-show="vm.userFullName !== null">
      <div class="full-name">{{ vm.userFullName }}</div>

      <div class="separator">|</div>

      <div class="dg-unit">{{ vm.userDgUnit }}</div>

      <div class="separator-2">|</div>

      <drop-down items="vm.rolesItems" on-item-selected="vm.changeRole(item)" no-icon>
        <a class="btn roles" angular-ripple>{{ vm.userRole }} <i class="fa fa-exchange"></i></a>
      </drop-down>

      <div class="separator-3">|</div>
    </div>

    <languages-bar current-language="vm.currentLanguage"></languages-bar>
  </div>

  <div class="banner">
    <img class="logo" src="assets/images/logo-ce-full.png"></img>

    <div class="title">PRESTO<span class="site">{{ vm.site }}</span><span class="env">DEV</span></div>
  </div>

  <div class="bottom">
    <div class="flex"></div>

    <a class="btn menu" angular-ripple ng-repeat="item in vm.menuItems" ng-click="vm.changeMenu(item.originalObject)">
      <i class="fa" ng-class="item.icon"></i> {{ item.label }}
    </a>

    <drop-down items="vm.settingsMenuItems" on-item-selected="vm.changeMenu(item)">
      <a class="btn menu-button" angular-ripple><i class="fa fa-ellipsis-v"></i></a>
    </drop-down>
  </div>

  <div class="oib-branding"></div>
</div>
