.drop-down-directive {
  visibility: hidden;
}

.drop-down-directive.visible {
  visibility: visible;
}

.drop-down-directive .menu-button {
  outline: none;
  color: #aaa;
  font-weight: 100;
  margin-top: 2px;
}

.drop-down-directive .menu-button:hover {
  opacity: .8;
}

.drop-down-directive .menu-button.settings {
  padding: 5px 15px;
}

.drop-down-directive .items {
  position: absolute;
  visibility: hidden;
  margin-top: -10px;
  opacity: 0;
  background: white;
  display: table;
  border: solid 1px #ddd;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: .2s ease-out .2s;
  line-height: 1.5em;
  z-index: 500;
}

.drop-down-directive .items.visible {
  visibility: visible;
  margin-top: 0;
  opacity: 1;
}

.drop-down-directive .items .item {
  color: #555;
  padding: 7px 15px;
  text-align: left;
  width: 100%;
}

.drop-down-directive .items .item:hover {
  background: #eee;
  border-radius: 0;
}

.drop-down-directive .items .item .fa {
  color: $oib-brand-color;
  font-size: 17px;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}

.drop-down-directive .items .item-label {
  color: #666;
}

.drop-down-directive .items .item.border-top {
  border-top: solid 1px #eee;
}

