<div class="drop-down-directive" ng-class="{ 'visible': vm.items.length > 0 }">
  <span class="menu-button" ng-transclude ng-click="vm.switchVisibility($event)"></span>

  <div class="items" ng-class="{'visible': vm.isMenuVisible}">
    <div ng-repeat="item in vm.items">
      <a class="btn item" angular-ripple ng-click="vm.itemSelected(item)" ng-class="{ 'border-top': item.borderTop }">
        <i class="fa" ng-class="item.icon" ng-if="!vm.noIcon"></i>
        <span class="item-label">{{ item.label }}</span>
      </a>
    </div>
  </div>
</div>

